.sidebar {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 0;

  width: 100%;

  backdrop-filter: blur(10px);

  transform: translateX(-100%);

  transition: all 0.3s ease 0s;

  &-show {
    transform: translateX(0);

    @media (min-width: 900px) {
      transform: translateX(-100%);
    }
  }

  &__list {
    &-item {
      position: relative;
    }

    &-link {
      position: relative;
      display: inline-flex;
      align-items: center;

      height: 70px;
      width: 100%;
      padding: 0 5%;

      border-bottom: 1px solid rgba(50, 50, 50, 1);

      &:hover,
      &:focus {
        background-color: rgba(50, 50, 50, 1);
        border-bottom: 1px solid rgb(232, 170, 49);
      }
    }
  }
}
