@import "_normalize";
@import "_header";

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "_fonts";

.visually-hidden {
  position: absolute;
  overflow: hidden;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;

  clip: rect(0 0 0 0);
}

html,
body {
  font-family: "Montserrat", sans-serif;
}
