* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Semi-bold.woff") format("woff"), url("../fonts/Montserrat-Semi-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.header {
  width: 100%;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  padding: 0 5%;
  color: white;
  background-color: #141414;
}

.header__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__navigation-item {
  padding-right: 20px;
}

.header__navigation-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 20px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  background-color: #323232;
  border-bottom: 2px solid #e8aa31;
}

.header__navigation-link:active {
  background-color: #1e1e1e;
}

.header__navigation-user {
  position: relative;
  padding-left: 45px;
  font-weight: 600;
  font-size: 18px;
}

.header__navigation-user::before {
  content: url(../img/icons/user.svg);
  position: absolute;
  left: 15px;
}

.header__burger {
  display: none;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90px;
  padding: 0 5%;
  background-color: #ecf1f2;
}

.header__catalog-link {
  font-size: 18px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.button {
  width: 228px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #e8aa31;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 20px rgba(232, 170, 49, 0.43);
          box-shadow: 0px 5px 20px rgba(232, 170, 49, 0.43);
}

.button:hover,
.button:focus {
  -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.button:active {
  -webkit-transform: scale(95%);
      -ms-transform: scale(95%);
          transform: scale(95%);
}

.header__search {
  position: relative;
  height: 40px;
  width: 350px;
  padding-left: 40px;
  padding-right: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  background-color: transparent;
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 15px;
}

.header__search:hover,
.header__search:focus {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(101%);
      -ms-transform: scale(101%);
          transform: scale(101%);
}

@media (max-width: 900px) {
  .header__navigation {
    padding: 0;
  }

  .header__navigation-list {
    display: none;
  }

  .header__navigation-user {
    font-size: 0;
  }

  .header__navigation-user::before {
    left: 21.37px;
  }

  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin: auto 0;
    cursor: pointer;
  }

  .header__burger::before,
  .header__burger span,
  .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #ecf1f2;
    border-radius: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger span {
    top: calc(50% - 1px);
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger-close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: calc(50% - 1px);
  }

  .header__burger-close span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger-close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: calc(50% - 1px);
  }

  .header__body {
    padding: 0;
  }
}
@supports (-webkit-appearance:none){
.header__search{background-image:url(../img/icons/search.svg)}
}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}
